<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seu.qz.qzserver.mybatismapper.MaterialSpeciesMapper">

    <select id="getMaterialById" resultType="seu.qz.qzserver.entity.MaterialSpecies">
        select * from materialspecies where material_id = #{id}
    </select>

    <insert id="addMaterial" parameterType="seu.qz.qzserver.entity.MaterialSpecies" >
        insert into materialspecies(material_name, material_type, measure_type, extra_explanation)
        values(#{material_name}, #{material_type}, #{measure_type}, #{extra_explanation})
    </insert>

    <delete id="deleteMaterialById">
        delete  from materialspecies where material_id = #{id}
    </delete>

    <update id="updateMaterial">
        update materialspecies
        set material_name = #{material_name}, material_type = #{material_type}, measure_type = #{measure_type}, extra_explanation = #{extra_explanation}
         where material_id = #{material_id}
    </update>

</mapper>